#!/bin/bash
# {{ ansible_managed }}

# Pull in the helper functions for configuring BigBlueButton
source /etc/bigbluebutton/bbb-conf/apply-lib.sh

enableUFWRules
{% if bbb_lxc_multiple_kurentos %}
enableMultipleKurentos
{% else %}
disableMultipleKurentos
{% endif %}

METEOR_SETTINGS_FILE=/usr/share/meteor/bundle/programs/server/assets/app/config/settings.yml

{% if bbb_lxc_html5_title and bbb_lxc_html5_title|length %}
yq w -i $METEOR_SETTINGS_FILE public.app.clientTitle "{{ bbb_lxc_html5_title }}"
{% endif %}

{% if bbb_lxc_html5_external_debug_url and bbb_lxc_html5_external_debug_url|length %}
yq w -i $METEOR_SETTINGS_FILE public.clientLog.external.enabled "true"
yq w -i $METEOR_SETTINGS_FILE public.clientLog.external.url "{{ bbb_lxc_html5_external_debug_url }}"
yq w -i $METEOR_SETTINGS_FILE public.clientLog.external.level "warn"
{% else %}
yq w -i $METEOR_SETTINGS_FILE public.clientLog.external.enabled "false"
{% endif %}

chown meteor:meteor $METEOR_SETTINGS_FILE
