# {{ ansible_managed }}
# This file will be replaced by the one from the repository
# at {{ bbb_lxc_bbb_exporter_systemd_source }}/bigbluebutton-exporter.service
# This is just a placeholder template

