# {{ ansible_managed }}
# BigBlueButton Exporter Settings

API_BASE_URL={{ bbb_instance_url }}
API_SECRET={{ bbb_instance_secret }}

# Optional settings (uncomment to use)
BIND_IP=127.0.0.1
PORT=9688

# Enable recordings metrics
RECORDINGS_METRICS=true
RECORDINGS_METRICS_READ_FROM_DISK=true

