<html lang="en">
<head>
    <title>BBB</title>
    <meta http-equiv="REFRESH" content="0;url={{ bbb_lxc_bbb_redirect_url }}">
    <script>
        window.location.href = "{{ bbb_lxc_bbb_redirect_url }}";
    </script>
</head>
<body>
Nothing to see here, redirecting...
</body>
</html>
