version: '3.2'
services:
  {% if lxc_instance.install_bbb -%}
  bbb-exporter:
    container_name: bbb-exporter
    image: greenstatic/bigbluebutton-exporter:v0.6.0
    network_mode: host
    volumes:
      # Can be removed if `RECORDINGS_METRICS_READ_FROM_DISK` is set to false (or omitted).
      # See https://bigbluebutton-exporter.greenstatic.dev/exporter-user-guide/#optimizations for details.
      - "/var/bigbluebutton:/var/bigbluebutton:ro"
    environment:
      BIND_IP: "127.0.0.1"
      RECORDINGS_METRICS_READ_FROM_DISK: "true"
      PORT: 9688
      RECORDINGS_METRICS: "true"
    env_file:
      - .env
    restart: unless-stopped
  {% endif %}

  node_exporter:
    container_name: node_exporter
    image: prom/node-exporter:v1.2.2
    network_mode: host
    command:
      - "--path.rootfs=/host"
      - "--web.listen-address=127.0.0.1:9100"
    pid: "host"
    volumes:
      - type: "bind"
        source: "/"
        target: "/host"
        read_only: true
    restart: unless-stopped

  netdata:
    image: netdata/netdata:latest
    container_name: netdata
    hostname: localhost
    environment:
      DOCKER_USR: 1026
      DOCKER_GRP: 100
      DO_NOT_TRACK: 1
    ports:
      - 19999:19999
    restart: unless-stopped
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    volumes:
      - ./netdataconfig/netdata:/etc/netdata
      - ./netdatalib:/var/lib/netdata
      - ./netdatacache:/var/cache/netdata
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
