# {{ ansible_managed }}
{% if lxc_instance.install_bbb|default(false) %}
### Bigbluebutton logs ###
- type: filestream
  id: bigbluebutton-logs

  # Change to true to enable this input configuration.
  enabled: true

  # Paths that should be crawled and fetched. Glob based paths.
  paths:
    - /var/log/bigbluebutton/**/*.log
    - /var/log/bbb-*/*.log
    - /var/log/kurento-media-server/*.log
    - /var/log/turnserver/*.log
    - /var/log/redis/*.log

  # Exclude files. A list of regular expressions to match. Filebeat drops the files that
  # are matching any regular expression from the list. By default, no files are dropped.
  prospector.scanner.exclude_files:
    - '.gz$'
    - 'archive-'
    - 'bbb-web\.\d+'

  {% if bbb_lxc_filebeat_include_pattern -%}
  include_lines: ['{{ bbb_lxc_filebeat_include_pattern }}']
  {% endif %}

  tags: ["bigbluebutton"]
{% endif %}

{% if bbb_scalelite_lxc is defined and lxc_instance.name == bbb_scalelite_lxc.name %}
### Scalelite logs ###
- type: filestream
  id: scalelite-logs

  # Change to true to enable this input configuration.
  enabled: true

  # Paths that should be crawled and fetched. Glob based paths.
  paths:
    - /opt/scalelite-run/log/certbot/*.log
    - /opt/scalelite-run/log/scalelite-api/*.log
    - /opt/scalelite-run/log/scalelite-poller/*.log
    - /opt/scalelite-run/log/scalelite-recording-importer/*.log

  # Exclude files. A list of regular expressions to match. Filebeat drops the files that
  # are matching any regular expression from the list. By default, no files are dropped.
  prospector.scanner.exclude_files:
    - '.gz$'

  {% if bbb_lxc_filebeat_include_pattern -%}
  include_lines: ['{{ bbb_lxc_filebeat_include_pattern }}']
  {% endif %}

  tags: ["scalelite"]

- type: filestream
  id: scalelite-recordings
  # Change to true to enable this input configuration.
  enabled: true
  # Paths that should be crawled and fetched. Glob based paths.
  paths:
    - /var/log/scalelite_transfer_recordings.log
  # Exclude files. A list of regular expressions to match. Filebeat drops the files that
  # are matching any regular expression from the list. By default, no files are dropped.
  prospector.scanner.exclude_files:
    - '.gz$'
  multiline.type: pattern
  multiline.pattern: '^\[[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}\]'
  multiline.negate: true
  multiline.match: after

  tags: ["scalelite", "scalelite-recordings"]

{% endif %}

{% if bbb_lxc_coturn is defined and lxc_instance.name == bbb_lxc_coturn.name %}
### Coturn logs ###
- type: filestream
  id: coturn-logs

  # Change to true to enable this input configuration.
  enabled: true

  # Paths that should be crawled and fetched. Glob based paths.
  paths:
    - /var/log/turnserver/turnserver.log*

  # Exclude files. A list of regular expressions to match. Filebeat drops the files that
  # are matching any regular expression from the list. By default, no files are dropped.
  prospector.scanner.exclude_files:
    - '.gz$'

  {% if bbb_lxc_filebeat_include_pattern -%}
  include_lines: ['{{ bbb_lxc_filebeat_include_pattern }}']
  {% endif %}

  tags: ["coturn"]
{% endif %}

### Default system log directory ###
- type: filestream
  id: system-logs

  # Change to true to enable this input configuration.
  enabled: true

  # Paths that should be crawled and fetched. Glob based paths.
  paths:
    - /var/log/unattended-upgrades/*.log
    - /var/log/letsencrypt/*.log
    - /var/log/fail2ban.log
    - /var/log/mail.*
    - /var/log/lxd/*.log
    - /var/log/grafana/*.log
    - /var/log/filebeat/filebeat*
    - /var/log/freeradius/*.log
    - /var/log/carnet-upgrade.log
    - /opt/otobo/var/log/**/*.log
    - /var/log/fetchmail.log
    - /var/log/nginx/*.log
    - /var/log/openvpn/*.log

  {% if bbb_lxc_filebeat_include_pattern|default(false) -%}
  include_lines: ['{{ bbb_lxc_filebeat_include_pattern }}']
  {% endif %}

  # Exclude files. A list of regular expressions to match. Filebeat drops the files that
  # are matching any regular expression from the list. By default, no files are dropped.
  prospector.scanner.exclude_files:
    - '.gz$'

  tags: ["var-logs"]

- type: filestream
  format: docker
  id: docker-containerss
  paths:
    - '/var/lib/docker/containers/*/*.log'
  enabled: {{ 'true' if (lxc_instance.node_exporter_from_docker|default(false)|bool or lxc_instance.install_docker|default(false)|bool) else 'false' }}
  containers.ids:
    - '*' # Collect logs from all containers
  processors:
    - add_docker_metadata:
        host: "unix:///var/run/docker.sock"
        match_source: true

  {% if bbb_lxc_filebeat_include_pattern -%}
  include_lines: [ '{{ bbb_lxc_filebeat_include_pattern }}' ]
  {% endif %}

  tags:
    - docker

#- type: journald
#  id: everything
#  tags: ["journald"]
