[localhost]
127.0.0.1 ansible_connection=local

[example]
example.com ansible_ssh_user=foobar ansible_user=foobar ansible_become_user=root
some.example.com ansible_python_interpreter=/usr/bin/python3 ansible_user=foobar ansible_become_user=root

