# {{ ansible_managed }}
### Required by scalelite-api
SECRET_KEY_BASE={{ scalelite_secret_base }}
LOADBALANCER_SECRET={{ scalelite_loadbalancer_secret }}
#
### Required by scalelite-api and scalelite-poller
# REDIS_URL=
#
### Required by scalelite-api and scalelite-recording-importer
# DATABASE_URL=
# SCALELITE_RECORDING_DIR=/mnt/scalelite-recordings/var/bigbluebutton
{% if bbb_scalelite_recordings and bbb_scalelite_recordings|length %}
SCALELITE_RECORDING_DIR={{ bbb_scalelite_recordings }}
{% endif %}
#
### Required by scalelite-nginx (only When using SSL)
NGINX_SSL=true
# SCALELITE_NGINX_EXTRA_OPTS=--mount type=bind,source=/etc/letsencrypt,target=/etc/nginx/ssl,readonly
URL_HOST={{ bbb_scalelite_lxc.hostname }}
#
### Required when when specific repo or version (other than defaults) are needed
# SCALELITE_REPO=blindsidenetwks
# SCALELITE_TAG=v1
#
### Optional for postgres when using docker-compose
# POSTGRES_USER=
# POSTGRES_PASSWORD=
#
### Optional for init-letsencrypt.sh when using certbot for generating signed SSL certificates
LETSENCRYPT_EMAIL={{ bbb_scalelite_lxc.email }}
#LETSENCRYPT_STAGING=0 # Set to 1 if you're testing your setup to avoid hitting request limits

RECORDING_IMPORT_POLL={{ 'true' if bbb_scalelite_lxc.recording_poll else 'false' }}

RAILS_LOG_TO_STDOUT=false

SCALELITE_DOCKER_IMAGE={{ bbb_scalelite_docker_image_version }}

### Required when recordings are enabled and using BigBlueButton Playback Proxy to serve the recordings.
SCALELITE_RECORDINGS_DOCKER_IMAGE={{ bbb_scalelite_docker_recordings_image }}

DOCKER_PROXY_NGINX_TEMPLATE=scalelite-proxy

PROTECTED_RECORDINGS_ENABLED=true

PROTECTED_RECORDINGS_TIMEOUT=60