[Unit]
Description=Scalelite Recording Importer
After=network-online.target
Wants=network-online.target
Before=scalelite.target
PartOf=scalelite.target
After=scalelite-api.service
After=remote-fs.target

[Service]
EnvironmentFile=/etc/default/scalelite
Restart=on-failure
RestartSec=15
StartLimitIntervalSec=0
ExecStartPre=-/usr/bin/docker kill scalelite-recording-importer
ExecStartPre=-/usr/bin/docker rm scalelite-recording-importer
ExecStartPre=/usr/bin/docker pull blindsidenetwks/scalelite:${SCALELITE_TAG}-recording-importer
ExecStart=/usr/bin/docker run --log-opt max-size=10m --log-opt max-file=5 \
  --name scalelite-recording-importer \
  --env-file /etc/default/scalelite \
  --network ${SCALELITE_DOCKER_NETWORK} \
  --ip ${SCALELITE_RECORDING_IMPORTER_IP} \
  --mount type=bind,source=${SCALELITE_RECORDING_DIR},target=/var/bigbluebutton \
  $SCALELITE_RECORDING_IMPORTER_EXTRA_OPTS \
  blindsidenetwks/scalelite:${SCALELITE_TAG}-recording-importer
ExecStartPost=

[Install]
WantedBy=scalelite.target
