#jinja2: lstrip_blocks: "True"
# {{ ansible_managed }}
<VirtualHost *:80>
    ServerName {{ http_domain_name }}
    {% for alias in http_vhost_aliases %}
    ServerAlias {{ alias }}
    {% endfor %}

    #Security
    Header always append X-Frame-Options SAMEORIGIN
    Header set X-Content-Type-Options nosniff
    Header set X-XSS-Protection "1; mode=block"

    DocumentRoot {{ http_document_root }}
    DirectoryIndex index.php index.html

    ErrorLog /var/log/{{ apache_distro_name }}/{{ http_domain_name }}-error.log
    CustomLog /var/log/{{ apache_distro_name }}/{{ http_domain_name }}-access.log combined

    {% if php_fpm_socket_file is defined %}
    <FilesMatch \.php$>
        SetHandler "proxy:unix:{{ php_fpm_socket_file }}|fcgi://{{ http_domain_name }}"
    </FilesMatch>
    <Proxy fcgi://{{ http_domain_name }}>
        ProxySet connectiontimeout=5 timeout=240
    </Proxy>
    {% endif %}
    <Directory "{{ http_document_root }}">
        <IfModule mod_rewrite.c>
            Options -MultiViews
            RewriteEngine On
            RewriteCond %{REQUEST_FILENAME} !-f
            RewriteRule ^(.*)$ index.php [QSA,L]
        </IfModule>

        <IfModule !mod_rewrite.c>
            <IfModule mod_alias.c>
                RedirectMatch 302 ^/$ /index.php/
            </IfModule>
        </IfModule>

        Order allow,deny
        Allow from all
        AllowOverride None
        # New directive needed in Apache 2.4.3:
        Require all granted
    </Directory>
</VirtualHost>
